# [submodule "external/crfasrnn_keras"]
#     path = external/crfasrnn_keras
#     url = https://github.com/sadeepj/crfasrnn_keras.git
# [submodule "external/gradient_checkpointing"]
#     path = external/gradient_checkpointing
#     url = https://github.com/openai/gradient-checkpointing.git